<?xml version="1.0"?>
<robot name="sensor_lidar" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="sensor_lidar_pf_r2000">

    <joint name="lidar_joint" type="fixed">
      <origin xyz="${lidar_x} ${lidar_y} ${lidar_z}"
              rpy="0 0 0"/>
      <parent link="base_link"/>
      <child link="lidar" />
    </joint>
    <link name="lidar">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://tecna_turtle_description/meshes/pf_r2000.dae"/>
        </geometry>
      </visual>
    </link>

    <gazebo reference="lidar">
      <material>Gazebo/FlatBlack</material>
      <sensor type="ray" name="lds_lfcd_sensor">
        <visualize>true</visualize>
        <update_rate>50.0</update_rate>
        <ray>
          <scan>
            <horizontal>
              <samples>720</samples>
              <resolution>1</resolution>
              <min_angle>${-degrees_180}</min_angle>
              <max_angle>${+degrees_180}</max_angle>
            </horizontal>
          </scan>
          <range>
            <min>0.120</min>
            <max>30</max>
            <resolution>0.01</resolution>
          </range>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.01</stddev>
          </noise>
        </ray>
        <plugin name="gazebo_ros_lds_lfcd_controller" filename="libgazebo_ros_laser.so">
          <topicName>lidar/scan</topicName>
          <frameName>lidar</frameName>
        </plugin>
      </sensor>
    </gazebo>

  </xacro:macro>
</robot>
